
<div id = "cart-respons" class = "row">
    <div class = "col-8"  id = "product-cart">
        <div style = "padding:15px">
            <input id = "barcode-input" class = "form-control">
        </div>
        <div id = "header-cart" class = "row">
            <div class = "col-4" align = "left">
                Name
            </div>
            <div class = "col-2" align = "center">
                Price
            </div>
            <div class = "col-3" align = "center">
                Amt
            </div>
            <div class = "col-2" align = "center">
                Total
            </div>
            <div class = "col-1">

            </div>
        </div>
        <div id = "cart-list">
            
        </div>
    </div>
    <div id = "cart-calculator" class = "col-4">
        <div class = "card">
            <table id = "table-cart">
                <tr>
                    <td colspan="2">
                        <div id = "net-total">
                            0.00
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align = "left">Before vat</td>
                    <td align = "right">
                        <div id = "before-vat-res">

                        </div>
                    </td>
                </tr>
                <tr>
                    <td align = "left">Vat</td>
                    <td align = "right">
                        <div id = "vat-res">
                            0%
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align = "left">Total vat</td>
                    <td align = "right">
                        <div id = "total-vat-res">
                            0
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align = "left">Receive</td>
                    <td align = "right"><input id = "receive-input" class = "form-control" value="0"></td>
                </tr>
                <tr>
                    <td align = "left">Change</td>
                    <td align = "right">
                        <div id = "change-res">
                            0
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"> 
                        <button id = "check-out" class = "btn btn-light">Check Out</button>
                    </td>
                </tr>
            </table>
            
        </div>
    </div>
</div>
