/* fontawesome */
/* @import "../css/fontawesome.css"; */

/* bootstrap 5 */
@import "../css/bootstrap-5.1.3.min.css";

@import "../css/fontawesome-free-5.15.2-web/css/all.min.css";

@font-face {
    font-family: "OdinRounded";
    src: url("../fonts/OdinRoundedLight-Bgyw.ttf") format("truetype");
}

body{
    background: #2b2b38;
    /* background: linear-gradient(275deg, rgba(37,46,74,1) 0%, rgba(61,71,106,1) 100%, rgba(33,33,33,1) 100%); */
    font-family: "OdinRounded","OdinRounded","OdinRounded";
}

#header-program{
    height: 80px;
    background-color: #ff3568;
/* background-image: linear-gradient(315deg, #f977ce 0%, #c373f2 74%); */
    border-radius: 0 0 10px 10px;
    width: 99%;
    margin:auto;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: #2b2b2b 0px 5px 10px;
}


#header-program div{
    margin:auto;
    font-size: 42px;
    font-weight: 600;
    color:white;
}


.btn.btn-light{
    background-color: #ff3568;
    /* background-image: linear-gradient(315deg, #f977ce 0%, #c373f2 74%); */
    color:white;
    border:0px;
    width:120px;
    box-shadow: #2b2b2b 0px 5px 10px;
    border-radius: 50px;
    margin-left:5px;
    margin-right: 5px;
}

.btn.btn-dark{
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 50%);
    border:none;
}

#cart-respons.row{
    margin:0;
    padding:0;
}

#product-cart{
    padding:10px;
    padding-left: 15px;
}

#cart-list{
    height: 450px;
    overflow: auto;
    /* background-color: #29314b; */
    /* border-radius: 10px; */
    padding:10px;
}

#cart-list .row{
    margin:0;
    padding:0;
}


#cart-calculator{
    padding:10px;
    padding-right: 15px;
}

#cart-calculator .card{
    min-height: 520px;
    background: #24242e;
    /* background: linear-gradient(275deg, rgba(91,101,136,1) 0%, rgba(54,64,99,1) 100%, rgba(54,64,99,1) 100%); */
    box-shadow: #252b3d 0px 8px 24px;
    text-align: center;
    padding: 10px;
}

#net-total{
    font-size: 40px;
    color:white;
    margin-top: 30px;
}

#dialog,#dialog-alert,#dialog-checkout{
    position: absolute;
    top:40%;
    left:50%;
    padding:20px;
    border-radius: 10px;
    transform: translate(-50%, -40%); 
    background-color: #24242e;
    /* background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */
    color:white;  
    box-shadow: #252b3d 0px 8px 24px;
}

.btn-dark{
    width: 100%;
}

#btn-add-product.row,.btn-delete-product.row{
    padding:0;
    margin-top:10px;
}

#btn-add-product div,.btn-delete-product div{
    padding:5px;
}

hr{
    width: 97%;
    margin: auto;
    margin-top: 10px;
    border: 0.1px solid rgb(92, 92, 92);
}

.card.product-cart{
    margin-top:10px;
    background-color: #24242e;
    /* background-image: linear-gradient(147deg, #2c3e50 0%, #000000 94%); */
    color:white;
    padding:15px;
}

.card.product-cart .col-2{
    text-align: right;
}

#header-cart{
    color:white;
    margin:0;
    padding:0;
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000000; 
}

::-webkit-scrollbar-thumb {
    background: #18181f; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


input.form-control,input.form-control:hover,input.form-control:focus{
    background-color: #2e2e3b;
    color:white;
}

#table-cart{
    color:white;
}
#table-cart td{
    color:white;
    /* border:1px solid white; */
    padding:10px;
}

#table-cart .btn.btn-light{
    width: 100%;
}

#receive-input{
    text-align: right;
}

i{
    cursor: pointer;
}

/*---------------------------------------------------------------------------------*/
#product-list,#report-list{
    padding:20px;
    height: 550px;
    overflow:auto;
}
.product-list-table {
    width: 100%;
    color:white;
}

.product-list-table th{
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    background-color: #ff3568;
    padding:5px;
}

.product-list-table th:first-child{
    border-radius: 5px 0px 0 0 ;
}

.product-list-table th:last-child{
    border-radius: 0px 5px 0 0 ;
}

.product-list-table td{
    font-weight: 600;
    font-size: 16px;
    padding:8px;
    border-left: 1px solid #2a2a35;
    border-right: 1px solid #2a2a35;
}

.product-list-table td:last-child{
    text-align: center;
}

tr:nth-child(even) {
    background-color: #1c1c24;
}

tr:nth-child(odd) {
    background-color: #24242e;
}

#total-net-report{
    text-align: right;
    color: white;
    margin-right: 20px;
}